[Desktop Entry]
Name=Aplikasi Perhitungan Penalti
Comment=Lomba Tendangan Penalti (TUI)
Exec=gnome-terminal -- bash -c 'dir="$(cd "$(dirname "%k")" && pwd)"; "$dir/aplikasi_perhitungan_penalti"; echo; echo "Tekan Enter untuk keluar..."; read'
Terminal=false
Type=Application
Categories=Game;
Icon=utilities-terminal
